alias vi='vim'
alias tmx='tmux attach || tmux'
alias svi='sudo vim'
alias sduo=sudo
alias suod=sudo
alias far='far2l --tty'
alias ls=eza
alias la='eza -la'
alias e=nano
alias m=micro
alias dmesg='dmesg --color=auto | less -r'
